html,
body {
  height: 100%;
  width: 100%;
  background-color: #e3e3e3;
}
html.with-background {
  background-image: url(http://localhost/BATS/images/lots-of-grass-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (max-width: 320px) {
  /* Small screen, non-retina */
  html.with-background {
    background-image: url(http://localhost/BATS/images/lots-of-grass-background_320.jpg);
  }
}
@media only screen and (min-resolution: 2dppx) and (max-width: 320px) {
  /* Small screen, retina */
  html.with-background {
    background-image: url(http://localhost/BATS/images/lots-of-grass-background.jpg);
  }
}
@media only screen and (min-width: 321px) and (max-width: 538px) {
  /* Medium screen, non-retina */
  html.with-background {
    background-image: url(http://localhost/BATS/images/lots-of-grass-background.jpg);
  }
}
@media only screen and (min-resolution: 2dppx) and (min-width: 321px) and (max-width: 538px) {
  /* Medium screen, retina */
  html.with-background {
    background-image: url(http://localhost/BATS/images/lots-of-grass-background.jpg);
  }
}
@media only screen and (min-resolution: 2dppx) and (min-width: 539px) {
  /* Large screen, retina */
  html.with-background {
    background-image: url(http://localhost/BATS/images/lots-of-grass-background.jpg);
  }
}
* {
  font-family: 'Open Sans Condensed', 'Lato';
}
body {
  margin: 0;
  padding: 105px 0px 52px 0px;
  width: 100%;
  display: table;
  font-weight: 100;
}
header,
footer {
  width: 100%;
  position: fixed;
  left: 0px;
  z-index: 100;
  background-color: white;
  padding: 10px;
}
header {
  top: 0px;
  border-bottom: 2px solid #cccccc;
  padding: 10px 0px;
}
header a,
header a:hover {
  text-decoration: none;
}
header #logo-text {
  height: 66px;
  position: relative;
  text-align: left;
  padding-left: 70px;
}
header #logo-text .logo {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 100%;
}
header #logo-text > span {
  font-weight: bold;
  position: relative;
  z-index: 2;
  color: #000000;
  text-shadow: 3px 3px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
header #logo-text #header-bayArea {
  font-size: 16px;
  line-height: 16px;
  margin-left: 22px;
}
header #logo-text #header-tortuga {
  font-size: 36px;
  line-height: 30px;
}
header #logo-text #header-society {
  font-size: 16px;
  line-height: 16px;
  margin-left: 22px;
}
@media (min-width: 768px) and (max-width: 970px) {
  header #logo-text #header-maintext {
    font-size: 32px;
  }
}
header .visible-xs #header-subtext {
  margin-top: 5px;
  line-height: 16px;
}
header .visible-xs #header-maintext {
  line-height: 24px;
  font-size: 24px;
}
header .navbar-header {
  margin-top: 15px;
}
footer {
  bottom: 0px;
  border-top: 2px solid #cccccc;
}
.no-padding {
  padding: 0px !important;
}
.no-padding-left {
  padding-left: 0px !important;
}
.no-padding-right {
  padding-right: 0px !important;
}
.no-padding-top {
  padding-top: 0px !important;
}
.no-padding-bottom {
  padding-bottom: 0px !important;
}
.no-padding-horizontal {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.no-padding-vertical {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
.no-margin-left {
  margin-left: 0px !important;
}
.no-margin-right {
  margin-right: 0px !important;
}
.no-margin-top {
  margin-top: 0px !important;
}
.no-margin-bottom {
  margin-bottom: 0px !important;
}
.no-margin-horizontal {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.no-margin-vertical {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.panel {
  border-radius: 3px;
  background-color: white;
  padding: 20px;
  border: none;
}
.panel.no-background {
  background: none;
  box-shadow: none;
}
.panel-heading {
  background-color: #2da4c2;
  color: white;
  font-size: 18px;
}
.panel-content {
  padding: 20px;
  overflow: hidden;
}
.divider-vertical {
  height: 30px;
  margin: 0 9px;
  border-left: 1px solid #f2f2f2;
}
.icon {
  height: 18px;
  margin-left: 5px;
}
.moments-container .moment-wrapper {
  display: inline-block;
  height: 100px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
  cursor: pointer;
}
.moments-container .moment-wrapper.active {
  border-color: #87c440;
  cursor: default;
}
.moments-container .moment-wrapper:last {
  margin-right: 0px;
}
.moments-container .moment-wrapper img {
  max-height: 100%;
}
.moments-container .moment-description {
  height: 100px;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-autocomplete li.ui-menu-item {
  font-size: 14px;
  font-family: 'Open Sans Condensed', Lato;
}
.moment-bubble-buttons .moment-bubble-button {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #87c440;
  border: 1px solid transparent;
  opacity: .5;
  cursor: pointer;
}
.moment-bubble-buttons .moment-bubble-button.active {
  border-color: #87c440;
  opacity: 1;
  cursor: default;
}
.inline-icon {
  padding-right: 40px;
}
.floating-search-icon {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 30px;
  cursor: pointer;
}
.floating-search-icon:hover {
  text-shadow: 0px 0px 3px #87c440;
}
.search-count {
  line-height: 34px;
}
.dropdown-menu {
  min-width: auto;
}
.row-margin {
  margin-bottom: 10px;
}
.map-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
}
th {
  background: rgba(255, 255, 255, 0.2);
}
#panel-welcome {
  margin-bottom: 10px;
}
#home-moments-wrapper {
  overflow: hidden;
  height: 120px;
}
#home-moments-wrapper #home-moments {
  position: absolute;
  width: 500px;
  height: 110px;
}
.home-small-panel {
  height: 213px;
}
.viewer-modal .modal-header .close {
  margin-top: -10px;
}
.viewer-modal .modal-body .image-viewer-image {
  max-width: 100%;
}
.viewer-modal .modal-body .image-viewer-tags {
  font-weight: bold;
}
.viewer-modal .modal-body .viewer-description {
  background: rgba(255, 255, 255, 0.8);
}
#admin-user-wrapper {
  margin-bottom: 10px;
}
#admin-images-count {
  font-size: 12px;
}
#admin-images-upload-form {
  /*margin-top: 5px;*/
}
#admin-images-upload-form .bootstrap-filestyle {
  float: right;
}
#admin-images-upload-form .bootstrap-filestyle .glyphicon {
  color: #87c440;
}
#admin-images-table {
  margin-top: 10px;
}
#admin-images-table tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.2);
}
#admin-images-table tbody .glyphicon {
  cursor: pointer;
  margin-bottom: 10px;
}
#modal-edit-image #modal-edit-image-img {
  margin-bottom: 10px;
}
#modal-edit-image #model-edit-image-tags {
  margin-bottom: 10px;
}
.event-wrapper {
  margin-bottom: 10px;
  cursor: pointer;
}
.event-wrapper .event-date-wrapper {
  margin: 0px 10px 0px 0px;
  background: white;
  border: 1px solid #727272;
  width: 20px;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  float: left;
}
.event-wrapper .event-title-wrapper {
  line-height: 25px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event-wrapper:last-child {
  margin-bottom: 0px;
}
.event-wrapper:hover {
  background: rgba(255, 255, 255, 0.2);
}
.text-xs-left {
  text-align: left;
}
.text-xs-right {
  text-align: right;
}
.text-xs-center {
  text-align: center;
}
.text-xs-justify {
  text-align: justify;
}
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-justify {
    text-align: justify;
  }
}
@media (min-width: 970px) {
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-justify {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-justify {
    text-align: justify;
  }
}
/* navbar */
.navbar-header.navbar-hamburger {
  margin-top: 0px;
}
.navbar-header > li {
  float: left;
}
.navbar-header > li > a {
  color: #333;
  border-bottom: 2px solid transparent;
  padding: 5px 10px;
}
.navbar-header > li > a:hover {
  color: #333;
  background: none;
}
.navbar-header > li > a:focus {
  color: #333;
  background: none;
}
.navbar-header > li.active > a {
  border-bottom-color: #87c440;
}
/* mobile version */
.navbar-header .navbar-toggle {
  border-color: #DDD;
}
.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #DDD;
}
.navbar-header .navbar-toggle .icon-bar {
  background-color: #CCC;
}
@media (max-width: 767px) {
  .navbar-header .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-header .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-header .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
  }
}
.navbar-side li a {
  border-right: 2px solid transparent;
  border-radius: 0px;
  color: #666;
}
.navbar-side li a .glyphicon {
  margin-right: 5px;
}
.navbar-side li.active a {
  /*border-color: @colorBaseGreen;*/
}
.navbar-side li:first-child a {
  border-radius: 3px 3px 0px 0px;
}
.navbar-side li:last-child a {
  border-radius: 0px 0px 3px 3px;
}
.fc .fc-toolbar {
  margin-bottom: 5px;
}
.fc .fc-toolbar button {
  color: #333333;
  background: white;
  border-color: #ccc;
}
.fc .fc-toolbar .fc-eventButton-button {
  background: #2da4c2;
  border-color: #2da4c2;
  color: white;
}
.fc .fc-toolbar .fc-clubButton-button {
  background: #87c440;
  border-color: #87c440;
  color: white;
}
.fc .fc-view-container {
  background: white;
}
.fc .fc-view-container .fc-event {
  cursor: pointer;
}
.fc .fc-view-container .calendar-event-club {
  background: #87c440;
  border-color: #87c440;
  color: white;
}
.fc .fc-view-container .calendar-event-event {
  background: #2da4c2;
  border-color: #2da4c2;
  color: white;
}
.events-hidden-button {
  opacity: .5;
}
#event-viewer-icon {
  width: 16px;
  height: 16px;
}
#event-viewer-location-text {
  line-height: 16px;
}
.resource-icon {
  margin-right: 10px;
}
