html, body {
  height: 100%;
  width: 100%;
  background-color: @colorBaseGrey;
}

html.with-background {
   background-image: url(./images/lots-of-grass-background.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (max-width: 320px) {/* Small screen, non-retina */
    html.with-background{ background-image: url(./images/lots-of-grass-background_320.jpg); }
}
@media
only screen and (min-resolution: 2dppx) and (max-width: 320px) {/* Small screen, retina */
    html.with-background{ background-image: url(./images/lots-of-grass-background.jpg); }
}
@media only screen and (min-width: 321px) and (max-width: 538px) {/* Medium screen, non-retina */
    html.with-background{ background-image: url(./images/lots-of-grass-background.jpg); }
}
@media
only screen and (min-resolution: 2dppx) and (min-width: 321px) and (max-width: 538px) {/* Medium screen, retina */
    html.with-background{ background-image: url(./images/lots-of-grass-background.jpg); }
}
@media
only screen and (min-resolution: 2dppx) and (min-width: 539px) {/* Large screen, retina */
    html.with-background{ background-image: url(./images/lots-of-grass-background.jpg); }
}

* {
   font-family: 'Open Sans Condensed', 'Lato';
}

body {
  margin: 0;
  padding: 105px 0px 52px 0px;
  width: 100%;
  display: table;
  font-weight: 100;
}

header, footer {
   width: 100%;
   position: fixed;
   left: 0px;
   z-index: 100;
   background-color: white;
   padding: 10px;
}
header {
   top: 0px;
   border-bottom: 2px solid @colorDivider;
   padding: 10px 0px;

   a, a:hover {
      text-decoration: none;
   }
   #logo-text {
      height: 66px;
      position: relative;
      text-align: left;
      padding-left: 70px;

      .logo {
         position: absolute;
         top: 0px;
         left: 0px;
         z-index: 1;
         height: 100%;
      }
      & > span {
         font-weight: bold;
         position: relative;
         z-index: 2;
         color: @fontLogoColor;
         text-shadow: 3px 3px 0 @fontLogoShadowColor, -1px -1px 0 @fontLogoShadowColor, 1px -1px 0 @fontLogoShadowColor, -1px 1px 0 @fontLogoShadowColor, 1px 1px 0 @fontLogoShadowColor;
      }
      #header-bayArea {
         font-size: 16px;
         line-height: 16px;
         margin-left: 22px;
      }
      #header-tortuga {
         font-size: 36px;
         line-height: 30px;
      }
      #header-society {
         font-size: 16px;
         line-height: 16px;
         margin-left: 22px;
      }
      @media (min-width: @screen-sm-min) and (max-width: @screen-md-min) {

         #header-maintext {
            font-size: 32px;
         }
      }
   }

   .visible-xs {
      #header-subtext {
         margin-top: 5px;
         line-height: 16px;
      }
      #header-maintext {
         line-height: 24px;
         font-size: 24px;
      }
   }

   .navbar-header {
      margin-top: 15px;
   }
}
footer {
   bottom: 0px;
   border-top: 2px solid @colorDivider;
}

.no-padding {
   padding: 0px !important;
}
.no-padding-left {
   padding-left: 0px !important;
}
.no-padding-right {
   padding-right: 0px !important;
}
.no-padding-top {
   padding-top: 0px !important;
}
.no-padding-bottom {
   padding-bottom: 0px !important;
}
.no-padding-horizontal {
   padding-left: 0px !important;
   padding-right: 0px !important;
}
.no-padding-vertical {
   padding-top: 0px !important;
   padding-bottom: 0px !important;
}

.no-margin {
   margin: 0px !important;
}
.no-margin-left {
   margin-left: 0px !important;
}
.no-margin-right {
   margin-right: 0px !important;
}
.no-margin-top {
   margin-top: 0px !important;
}
.no-margin-bottom {
   margin-bottom: 0px !important;
}
.no-margin-horizontal {
   margin-left: 0px !important;
   margin-right: 0px !important;
}
.no-margin-vertical {
   margin-top: 0px !important;
   margin-bottom: 0px !important;
}

.panel {
   border-radius: 3px;
   background-color: white;
   padding: @panelPadding;
   border: none;

   &.no-background {
      background: none;
      box-shadow: none;
   }
}
.panel-heading {
   background-color: @colorBaseBlue;
   color: white;
   font-size: @panelHeading;
}
.panel-content {
   padding: @panelPadding;
   overflow: hidden;
}

.divider-vertical {
    height: 30px;
    margin: 0 9px;
    border-left: 1px solid #f2f2f2;
}

.icon {
   height: @footerIconSize;
   margin-left: 5px;
}

.moments-container {

   .moment-wrapper {
      display: inline-block;
      height: 100px;
      padding: 10px;
      border: 1px solid transparent;
      border-radius: 3px;
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: white;
      cursor: pointer;

      &.active {
         border-color: @colorBaseGreen;
         cursor: default;
      }

      &:last {
         margin-right: 0px;
      }

      img {
         max-height: 100%;
      }
   }
   .moment-description {
      height: 100px;
   }
}

.truncate {
   overflow: hidden;
   text-overflow: ellipsis;
}

.ui-autocomplete {
   li.ui-menu-item {
      font-size: 14px;
      font-family: 'Open Sans Condensed', Lato;
   }
}

.moment-bubble-buttons {

   .moment-bubble-button {
      width: 16px;
      height: 16px;
      margin-right: 5px;
      border-radius: 50%;
      background-color: @colorBaseGreen;
      border: 1px solid transparent;
      opacity: .5;
      cursor: pointer;

      &.active {
         border-color: @colorBaseGreen;
         opacity: 1;
         cursor: default;
      }
   }
}

.inline-icon {
   padding-right: 40px;
}
.floating-search-icon {
   position: absolute;
   top: 50%;
   margin-top: -7px;
   right: 30px;
   cursor: pointer;

   &:hover {
      text-shadow: 0px 0px 3px @colorBaseGreen;
   }
}
.search-count {
   line-height: 34px;
}

.dropdown-menu {
   min-width: auto;
}

.row-margin {
   margin-bottom: 10px;
}

.map-wrapper {
   position: relative;
   display: block;
   width: 100%;
   height: 300px;
}

th {
   background: rgba(255,255,255,.2);
}

// ------ Home style
#panel-welcome {
   margin-bottom: 10px;
}

#home-moments-wrapper {
   overflow: hidden;
   height: 120px;

   #home-moments {
      position: absolute;
      width: 500px;
      height: 110px;
   }
}
#home-moments-buttons {
}
.home-small-panel {
   height: 213px;
}


// ----- Gallery style
.viewer-modal {
   .modal-header {
      .close {
         margin-top: -10px;
      }
   }
   .modal-body {
      .viewer-title {

      }
      .image-viewer-image {
         max-width: 100%;
      }
      .image-viewer-tags {
         font-weight: bold;
      }
      .viewer-description {
         background: rgba(255,255,255,.8);
      }
   }
}

// ----- Admin style
#admin-user-wrapper {
   margin-bottom: 10px;
}

// ----- Admin Images style
#admin-images-count {
   font-size: 12px;
}

#admin-images-upload-form {
   /*margin-top: 5px;*/

   .bootstrap-filestyle {
      float: right;

      .glyphicon {
      color: @colorBaseGreen;
      }
   }
}

#admin-images-table {
   margin-top: 10px;

   tbody {

      tr:nth-child(even) {
         background: rgba(255,255,255,.2);
      }

      .glyphicon {
         cursor: pointer;
         margin-bottom: 10px;
      }
   }
}

#modal-edit-image {
   #modal-edit-image-img {
      margin-bottom: 10px;
   }
   #model-edit-image-tags {
      margin-bottom: 10px;
   }
}

.event-wrapper {
   margin-bottom: 10px;
   cursor: pointer;

   .event-date-wrapper {
      margin: 0px 10px 0px 0px;
      background: white;
      border: 1px solid #727272;
      width: 20px;
      text-align: center;
      font-size: 10px;
      line-height: 12px;
      float: left;
   }
   .event-title-wrapper {
      line-height: 25px;
      height: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}
.event-wrapper:last-child {
   margin-bottom: 0px;
}
.event-wrapper:hover {
   background: rgba(255,255,255,.2);
}
