
.fc {
   .fc-toolbar {
      margin-bottom: 5px;

      button {
         color: @fontColorDefault;
         background: white;
         border-color: #ccc;
      }
      .fc-eventButton-button {
         background: @colorBaseBlue;
         border-color: @colorBaseBlue;
         color: white;
      }
      .fc-clubButton-button {
         background: @colorBaseGreen;
         border-color: @colorBaseGreen;
         color: white;
      }
   }

   .fc-view-container {
      background: white;

      .fc-event {
         cursor: pointer;
      }

      .calendar-event-club {
         background: @colorBaseGreen;
         border-color: @colorBaseGreen;
         color: white;
      }

      .calendar-event-event {
         background: @colorBaseBlue;
         border-color: @colorBaseBlue;
         color: white;
      }
   }
}

.events-hidden-button {
   opacity: .5;
}

#event-viewer-icon {
   width: 16px;
   height: 16px;
}
#event-viewer-location-text {
   line-height: 16px;
}
