@colorBaseBlue: #2da4c2;
@colorBaseGreen: #87c440;
@colorDarkGreen: #06552F;
@colorBaseRed: #E24067;
@colorBaseGrey: #e3e3e3;
@colorDivider: #ccc;
@colorTransparentWhite: rgba(255,255,255,.5);

@fontLogoColor: black;
@fontLogoShadowColor: #fff;
@fontColorTitle: #000;
@fontColorDefault: #333;
