/* navbar */
.navbar-header {
   &.navbar-hamburger {
      margin-top: 0px;
   }

   & > li {
      float: left;

      & > a {
         color: #333;
         border-bottom: 2px solid transparent;
         padding: 5px 10px;

         &:hover {
            color: #333;
            background: none;
         }
         &:focus {
            color: #333;
            background: none;
         }
      }

      &.active {
         & > a {
            border-bottom-color: @colorBaseGreen;
         }
         & > a:hover {

         }
         & > a:active {

         }
      }

   }
}


/* mobile version */
.navbar-header .navbar-toggle {
    border-color: #DDD;
}
.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-header .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-header .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-header .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-header .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}


.navbar-side {
   li {
      a {
         border-right: 2px solid transparent;
         border-radius: 0px;
         color: #666;

         .glyphicon {
            margin-right: 5px;
         }
      }
      &.active {
         a {
            /*border-color: @colorBaseGreen;*/
         }
      }

      &:first-child {
         a {
            border-radius: 3px 3px 0px 0px;
         }
      }

      &:last-child {
         a {
            border-radius: 0px 0px 3px 3px;
         }
      }
   }
}
